.container {
	display: flex;
	align-items: center;
	justify-content: center;

	.form {
		align-self: center;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		height: 100%;
		width: 40%;
		box-sizing: border-box;
		padding: 4em;

		&__title {
			margin-top: 40px;
			font-size: 3rem;
			margin-bottom: 20px;
		}

		&__form {
			display: flex;
			flex-direction: column;
			gap: 1em;
			width: 100%;
		}
	}

	&__image {
		width: 60%;
		height: 100%;
	}
}
